*,
::before,
::after {
 box-sizing: border-box;
}


body {
 position: relative;
 margin: 0;
 overflow: hidden;
 display: flex;
 height: 100vh;
 flex-direction: column;
 line-height: 1.5;
 font-family: 'Arima', sans-serif;
 font-size: 62.5%;
 color: #f4f4f4;
 background-color: #1d1e22;
}